.view-detail {
    position: relative;
    width: 70%;
    min-height: 100vh;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #111;
    border: 2px solid #222;
}
