.widget {
    background-color: #121212;
    padding: 40px 20px 20px 20px;
    border-radius: 5px;
    flex: 30%;
    min-width: 245px;
    min-height: 225px;
    box-shadow: 0 0 5px #111;
    border: 2px solid #222;
    position: relative;
    transition: all 0.2s;
}

.widget--is-favorite {
    border-color: red;
}
